<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>垃圾分类论坛_404</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}" />
	<style>

		.missing_pic{
			display:block;
			margin:70px auto 0px;
		}
		.tip{
			text-align:center;
			font-size:22px;
			font-weight:bold;
			color:#333;
			margin-top:20px;
		}
		.back_to_index{
			display:block;
			width:130px;
			line-height:30px;
			border-radius:15px;
			border:1px solid #488fcf;
			background:#488fcf;
			color:#fff;
			text-align:center;
			margin:20px auto 0;
		}
		.back_to_index:hover{
			opacity:0.6
		}
	</style>

	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
        <div class="logo">垃圾分类</div>
			<div class="nav">
				<a class="hover">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
              
                <div class="login">
                    {% if is_login %}
                        <div class="login">
                            <a href='#'>{{ name }}</a>&nbsp;
                            <a href='{% url 'users:logout' %}'>退出</a>
                        </div>
                    {% else %}
                        <div class="login">
                            <a href='{% url 'users:login' %}'>登录</a>&nbsp;
                            <a href='{% url 'users:register' %}'>注册</a>
                        </div>
                    {% endif %}
                </div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
    <img src="{% static 'image/missing.png' %}" alt="404" class="missing_pic">
	<h3 class="tip">Oops!你访问的页面未找到</h3>
	<a href="{% url 'home:index' %}" class="back_to_index">返回首页</a>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>垃圾分类</a>
		</div>
		<div class="copyright">Powered by qiruihua ©2019 </div>
	</div>
</body>
</html>