<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>垃圾分类论坛_帖子列表页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
    {% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.pagination.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.pagination.min.js' %}"></script>
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">垃圾分类</div>
			<div class="nav">
				<a class="hover" href="{% url 'home:index' %}">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			{% if is_login %}
                <div class="login">
                    <a href='#'>{{ name }}</a>&nbsp;
                    <a href='{% url 'users:logout' %}'>退出</a>
                </div>
            {% else %}
                <div class="login">
                    <a href='{% url 'users:login' %}'>登录</a>&nbsp;
                    <a href='{% url 'users:register' %}'>注册</a>
                </div>
            {% endif %}
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a href='{% url 'home:index' %}'>首页</a> &gt; <a href="{% url 'home:list' %}?cat_id={{ category.id }}">{{ category.name }}</a>
	</div>
	<div id="main" class="auto">
		<div id="left">
			<div class="box_wrap">
				<h3>{{ category.name }}</h3>
				<div class="num">
				    今日：<span>{{ today }}</span>&nbsp;&nbsp;&nbsp;
				    总帖：<span>{{ total }}</span>
				</div>
				<div class="pages_wrap">
					<a class="btn publish" href="{% url 'home:publish' %}?category.id={{ category.id }}"></a>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<ul class="postsList">
				
				{% for article in articles %}
				    <li>
					<div class="smallPic">
						<a href="#">
							<img width="45" height="45" src="{% static 'image/2374101_small.jpg' %}/">
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"> &nbsp;&nbsp;<h2><a href="home:show">{{ article.title }}</a></h2></div>
						<p>
							楼主：{{ article.user.username }}&nbsp;{{ article.punlish_time }}&nbsp;&nbsp;&nbsp;最后回复：{{ article.last_comment_time }}
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span>{{ article.comments }}</span>
						</p>
						<p>
							浏览<br /><span>{{ article.read_count }}</span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
				{% endfor %}





			</ul>
			<div class="pages_wrap">
				<a class="btn publish" href="{% url 'home:publish' %}"></a>
				<div class="pages">
					<div id="pagination" class="page"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="right">
			<div class="classList">
				<div class="title">版块热门跟帖</div>
				<ul class="listWrap">
					<li>
						<ul>
                            {% for article in hot_articles  %}
                                <li><h3><a href="{% url 'home:detail' article.id %}">{{ article.title }}</a></h3></li>
                            {% endfor %}

						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>垃圾分类</a>
		</div>
		<div class="copyright">Powered by qiruihua ©2019 </div>
	</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage:{{ page_num }},
            totalPage: {{ total_page }},
            callback:function (current) {
                location.href = '?page=' + current;
            }
        })
    });
</script>