<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>垃圾分类论坛_注册页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">垃圾分类</div>
			<div class="nav">
				<a class="hover" href="{% url 'home:index' %}">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<a href='{% url 'users:login' %}'>登录</a>&nbsp;
				<a href='{% url 'users:register' %}'>注册</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="register" class="auto">
		<h2>欢迎注册成为论坛会员</h2>
		<form action="" method="POST">
            {% csrf_token %}
			<label>用户名：<input type="text" name="username"/><span>*6-10位，请使用英文字母、数字</span></label>
			<label>密码：<input type="password"  name="password1"/><span>*6-10位，请使用英文字母、数字，注意区分大小写</span></label>
			<label>确认密码：<input type="password" name="password2" /><span>*两次输入的密码必须一致</span></label>
			<label>验证码：<input name="vcode" type="text"  /><span>*请输入下方验证码</span></label>
			<img class="vcode" src="{% static 'image/show_code.jpg' %}" />
			<div style="clear:both;"></div>
			<input class="btn" type="submit" value="确定注册" />
		</form>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>垃圾分类</a>
		</div>
		<div class="copyright">Powered by qiruihua ©2019 </div>
	</div>
</body>
</html>